In [1]:
import pandas as pd
import numpy as np

/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/envs/py35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df_realestate = pd.read_csv('RealEstate.csv')

In [107]:
df_realestate.shape

(414, 7)

In [3]:
df_realestate.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [6]:
df_realestate.dtypes

No                                          int64
X1 transaction date                       float64
X2 house age                              float64
X3 distance to the nearest MRT station    float64
X4 number of convenience stores             int64
X5 latitude                               float64
X6 longitude                              float64
Y house price of unit area                float64
dtype: object

In [11]:
df_realestate.isnull().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [14]:
df_realestate.drop(['No'], axis=1, inplace=True)

In [141]:
df_realestate.corr()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
X1 transaction date,1.000000,0.017549,0.060880,0.009635,0.035058,-0.041082,0.087491
X2 house age,0.017549,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.210567
X3 distance to the nearest MRT station,0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.673613
X4 number of convenience stores,0.009635,0.049593,-0.602519,1.000000,0.444143,0.449099,0.571005
X5 latitude,0.035058,0.054420,-0.591067,0.444143,1.000000,0.412924,0.546307
X6 longitude,-0.041082,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.523287
Y house price of unit area,0.087491,-0.210567,-0.673613,0.571005,0.546307,0.523287,1.000000

In [71]:
df_realestate_X = df_realestate.drop(['Y house price of unit area'], axis=1)
df_realestate_y = df_realestate[['Y house price of unit area']]

In [72]:
print(df_realestate_X.shape)
print(df_realestate_y.shape)

(414, 6)
(414, 1)

In [74]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
df_realestate_X1 = sc_X.fit_transform(df_realestate_X)

/anaconda/envs/py35/lib/python3.5/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda/envs/py35/lib/python3.5/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [75]:
sc_y=StandardScaler()
df_realestate_y1 = sc_y.fit_transform(df_realestate_y)

In [77]:
import statsmodels.formula.api as sm
X=np.append(arr=np.ones((414,1)).astype(int), values=df_realestate_X1, axis=1)
X_opt=X[:,1:]
X_opt.shape
y=df_realestate_y1

In [82]:
regressor_OLS = sm.OLS(endog=y, exog=X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.582
Model:                            OLS   Adj. R-squared:                  0.576
Method:                 Least Squares   F-statistic:                     94.82
Date:                Thu, 16 Jan 2020   Prob (F-statistic):           3.16e-74
Time:                        21:33:04   Log-Likelihood:                -406.70
No. Observations:                 414   AIC:                             825.4
Df Residuals:                     408   BIC:                             849.5
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1066      0.032      3.309      0.001       0.043       0.170
x2            -0.2258      0.032     -7.008      0.000      -0.289      -0.162
x3            -0.4162      0.067     -6.257      0.000      -0.547      -0.285
x4             0.2453      0.041      6.030      0.000       0.165       0.325
x5             0.2056      0.041      5.065      0.000       0.126       0.285
x6            -0.0140      0.055     -0.256      0.798      -0.122       0.094
==============================================================================
Omnibus:                      231.634   Durbin-Watson:                   2.153
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3599.138
Skew:                           2.026   Prob(JB):                         0.00
Kurtosis:                      16.865   Cond. No.                         4.22
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [88]:
X_opt=X[:,1:6]
X_opt.shape

(414, 5)

In [90]:
regressor_OLS = sm.OLS(endog=y, exog=X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.582
Model:                            OLS   Adj. R-squared:                  0.577
Method:                 Least Squares   F-statistic:                     114.0
Date:                Thu, 16 Jan 2020   Prob (F-statistic):           2.90e-75
Time:                        21:34:10   Log-Likelihood:                -406.73
No. Observations:                 414   AIC:                             823.5
Df Residuals:                     409   BIC:                             843.6
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1064      0.032      3.307      0.001       0.043       0.170
x2            -0.2255      0.032     -7.012      0.000      -0.289      -0.162
x3            -0.4038      0.045     -8.898      0.000      -0.493      -0.315
x4             0.2460      0.041      6.063      0.000       0.166       0.326
x5             0.2069      0.040      5.142      0.000       0.128       0.286
==============================================================================
Omnibus:                      232.810   Durbin-Watson:                   2.154
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3644.713
Skew:                           2.038   Prob(JB):                         0.00
Kurtosis:                      16.953   Cond. No.                         2.50
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [92]:
df_realestate_X1[:,1:6]

array([[ 1.25562833, -0.79249504,  2.00740743,  1.12542986,  0.44876222],
       [ 0.15708622, -0.61661163,  1.66750286,  0.91244418,  0.40113894],
       [-0.38779067, -0.41401527,  0.30788458,  1.48686011,  0.68818339],
       ...,
       [ 0.09556786, -0.54967846,  0.98769372,  0.82289338,  0.42397202],
       [-0.84478419, -0.77668389,  0.30788458, -0.18475479,  0.4768143 ],
       [-0.98539758, -0.78807071,  1.66750286,  0.42757905,  0.63534112]])

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_realestate_X1, df_realestate_y1, test_size=0.3, random_state=0)

In [126]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [127]:
y_pred = lr.predict(X_test)

In [128]:
y_test

array([[ 0.53861535],
       [-1.73510784],
       [ 0.59012364],
       [-1.64680791],
       [ 0.8991734 ],
       [ 0.00881577],
       [ 0.77408183],
       [ 0.25164058],
       [ 1.00218998],
       [ 0.15598232],
       [ 0.29579055],
       [ 0.32522386],
       [-0.69758366],
       [ 0.08239905],
       [ 1.15671486],
       [-0.08684248],
       [ 0.19277396],
       [ 1.26708977],
       [ 0.0971157 ],
       [ 0.46503208],
       [ 1.1419982 ],
       [-0.93305014],
       [-1.11700833],
       [ 1.00954831],
       [ 0.55333201],
       [-0.26344234],
       [-0.46947551],
       [-0.88890018],
       [ 0.84766511],
       [-0.97720011],
       [ 1.00954831],
       [-0.60928373],
       [ 0.54597368],
       [ 0.92124838],
       [-0.84475021],
       [-0.57985042],
       [ 0.59748197],
       [-0.66815035],
       [ 1.20822315],
       [-1.69095787],
       [ 0.50918204],
       [-0.60192541],
       [-1.05814171],
       [ 0.73729019],
       [-1.5658663 ],
       [ 0.21484894],
       [ 0.16334065],
       [-1.84548275],
       [-1.22738324],
       [ 1.77481437],
       [ 1.90726426],
       [ 0.17069898],
       [ 0.3105072 ],
       [-1.38926645],
       [-0.70494199],
       [-0.69758366],
       [ 1.67179778],
       [-0.03533419],
       [ 0.0971157 ],
       [-0.67550868],
       [ 0.31786553],
       [ 0.46503208],
       [ 0.33994051],
       [ 1.42897298],
       [ 0.3105072 ],
       [-0.90361683],
       [-1.82340777],
       [-0.80795858],
       [ 1.34067305],
       [ 0.02353243],
       [-1.26417488],
       [ 0.37673215],
       [ 2.96686342],
       [-1.25681655],
       [-0.40325056],
       [-0.33702562],
       [-0.43268387],
       [-1.38190812],
       [ 1.10520657],
       [ 0.0161741 ],
       [ 0.64163194],
       [-0.98455843],
       [-0.13099245],
       [-1.08757502],
       [-0.63871704],
       [ 0.03089076],
       [-0.03533419],
       [-0.27080067],
       [ 0.50182371],
       [ 1.20822315],
       [-0.00590088],
       [-2.2354741 ],
       [-0.62400039],
       [-0.93305014],
       [-1.78661613],
       [-0.58720875],
       [-0.52834213],
       [ 0.19277396],
       [-1.27153321],
       [ 0.20749062],
       [ 1.2744481 ],
       [ 0.18541563],
       [ 0.20749062],
       [ 0.17069898],
       [-0.3591006 ],
       [-0.86682519],
       [ 0.28843222],
       [-1.41134143],
       [ 2.94478843],
       [-1.64680791],
       [ 0.10447403],
       [ 0.22220727],
       [-1.06550004],
       [-0.17514241],
       [ 0.67106525],
       [-0.17514241],
       [ 1.25237312],
       [ 0.25899891],
       [-0.04269252],
       [-1.1905916 ],
       [-0.49155049],
       [-0.08684248],
       [-0.83739188],
       [ 0.148624  ],
       [ 0.88445674]])

In [129]:
df_result = pd.DataFrame(y_test, columns=['Actual'])

In [130]:
df_result['Prediction'] = y_pred

In [131]:
df_result.head(20)

      Actual  Prediction
0   0.538615    0.210955
1  -1.735108   -1.841978
2   0.590124    0.307954
3  -1.646808   -1.857066
4   0.899173    0.389481
5   0.008816    0.126669
6   0.774082    0.190870
7   0.251641   -0.269574
8   1.002190    0.866541
9   0.155982    0.614185
10  0.295791    0.600848
11  0.325224    0.222971
12 -0.697584    0.165594
13  0.082399    0.152868
14  1.156715    0.703806
15 -0.086842    0.039042
16  0.192774    0.155244
17  1.267090    0.300601
18  0.097116    0.235807
19  0.465032    0.318977

In [132]:
from sklearn import metrics
print(metrics.r2_score(y_test,y_pred))

0.5799815654577103

In [133]:
df_result.corr()

              Actual  Prediction
Actual      1.000000    0.768282
Prediction  0.768282    1.000000

In [134]:
df_result.shape

(125, 2)

In [135]:
len(df_result.index)

125

In [138]:
def calc_accuracy(df):
    err_sum=0
    for index,row in df.iterrows():
        if row['Actual'] == 0:
            err_sum += 0 
        else:
            err_sum += abs(row['Actual'] - row['Prediction']) / row['Actual']
        
    err=err_sum/len(df.index)
    acc = (1-err)*100
    return acc

In [139]:
calc_accuracy(df_result)

97.40527245246336